<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="Program3">
        <classes>
            <class name="AutomationAnywhereVerificationTest"/>
        </classes>
    </test>

    <test name="Program4">
        <classes>
            <class name="AutomationAnywhereLinksVerificationTest"/>
        </classes>
    </test>
</suite>
